lab6_grovepi_watson.json
[{"id":"b426896.f5df578","type":"grove digital output","z":"54bd6177.31955","name":"Blue Light","board":"314a067e.a6a75a","pin":"2","x":735,"y":438,"wires":[]},{"id":"74aea6f.bd0bc58","type":"debug","z":"54bd6177.31955","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":945,"y":178,"wires":[]},{"id":"7567f4f6.bbe8dc","type":"grove digital sensor","z":"54bd6177.31955","name":"Ultra sound Detection","board":"314a067e.a6a75a","sensor":"ultrasonic","repeat":"5","pin":"8","x":175,"y":218,"wires":[["74aea6f.bd0bc58","d7151b57.33ef78"]]},{"id":"26007078.63b35","type":"trigger","z":"54bd6177.31955","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":575,"y":438,"wires":[["b426896.f5df578"]]},{"id":"d7151b57.33ef78","type":"switch","z":"54bd6177.31955","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":345,"y":218,"wires":[["6fbc2b4.96f91d4"]]},{"id":"6fbc2b4.96f91d4","type":"camerapi-takephoto","z":"54bd6177.31955","filemode":"0","filename":"photo1.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":515,"y":258,"wires":[["bae2f6ed.9fa798"]]},{"id":"6e861376.a0ca9c","type":"function","z":"54bd6177.31955","name":"Face Recognition?","func":"if (msg.result.images.length  > 0 &&  msg.result.images[0].faces.length)\n{   \n    msg.recognition=1\n}\nelse\n{\n    msg.recognition=0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":478,"wires":[["daff8174.56ca9"]]},{"id":"9eafbf81.a39e4","type":"grove digital sensor","z":"54bd6177.31955","name":"Button","board":"314a067e.a6a75a","sensor":"button","repeat":"1","pin":"7","x":125,"y":298,"wires":[["74aea6f.bd0bc58","e3924787.2f8918"]]},{"id":"e3924787.2f8918","type":"switch","z":"54bd6177.31955","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":345,"y":298,"wires":[["6fbc2b4.96f91d4"]]},{"id":"bae2f6ed.9fa798","type":"visual-recognition-v3","z":"54bd6177.31955","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":745,"y":258,"wires":[["6e861376.a0ca9c","74aea6f.bd0bc58"]]},{"id":"daff8174.56ca9","type":"switch","z":"54bd6177.31955","name":"","property":"recognition","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":405,"y":478,"wires":[["26007078.63b35"],["81b76eb9.42177"]]},{"id":"ba4da3cf.f9eb9","type":"grove digital output","z":"54bd6177.31955","name":"Red Light","board":"314a067e.a6a75a","pin":"3","x":735,"y":498,"wires":[]},{"id":"81b76eb9.42177","type":"trigger","z":"54bd6177.31955","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":575,"y":498,"wires":[["ba4da3cf.f9eb9"]]}]